/*grid*/
.padre1{
    background-color: chartreuse;
    display: grid;
    grid-template-columns: 50% 20% auto auto;
    grid-template-rows: auto;
}
.hijo{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
}
.hijo1{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 1/5;
}
.hijo2{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 1/3;
}
.hijo6{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 2/5;
}
.hijo7{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 1/3;
    grid-row: 4/6;
}
.hijo8{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 3/5;
}
.hijo9{
    background-color:firebrick;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 3/5;
}
/*grid*/

/*flex*/
.padre2{
    background-color: dodgerblue;
    width:auto;
    height: 250px;
    margin-top: 20px;
    display: flex;
}
.hijos{
    background-color:green;
    width: 150px;
    height: 200px;
    margin: auto;
    border-style: solid;
    border-color:chocolate;
}
.hijos2{
    background-color:green;
    width: 650px;
    height: 200px;
    margin: auto;
    display: flex;
    border-style: solid;
    border-color:chocolate;
    position: relative;
}
.hijos2-1{
    background-color:orange;
    width: 400px;
    height: 50px;
    margin: auto;
    display: flex;
    border-style: solid;
    border-color:rgb(109, 47, 2);
    position: absolute;
    top: 20px;
    left: 120px;
}
.hijos2-2{
    background-color:orange;
    width: 150px;
    height: 50px;
    margin: auto;
    display: flex;
    border-style: solid;
    border-color:rgb(109, 47, 2);
    position: absolute;
    top: 100px;
    left: 120px;
}
.hijos2-3{
    background-color:orange;
    width: 150px;
    height: 50px;
    margin: auto;
    display: flex;
    border-style: solid;
    border-color:rgb(109, 47, 2);
    position: absolute;
    top:100px;
    left: 370px;
}
/*flex*/

/*bootstrap*/
.padre3{
    background-color: hotpink;
    width:auto;
    height: 250px;
    margin-top: 20px;
    display: flex;
}
.hija{
    background-color: red;
    width: 400px;
    height: 200px;
    margin: auto;
    border-style: solid;
    border-color:black;
}
.mb-3{
    font-size: 20px;
    color: black;
}

/*bootstrap*/